.nav-primary-text {
  color: #8593a8 !important;
  padding: 12px 10px;
  align-items: center;
  margin: 14px 0px;
  margin-left: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.List-Inline {
  list-style: none;
  padding: 0;
}

.List-Inline > li {
  display: inline;
  margin: 10px;
}

.nav-primary .active {
  background-color: #ffffff;
  box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
  border-radius: 4px;
  color: #475CA7 !important;
}

.fixed-navbar {
  background-color: #f1f3f8;
  background-image: url('https://res.cloudinary.com/dyy8g76av/image/upload/v1615826819/Denizen%20Designer%20%28Temp%29/bg-repeat-full_buobfv.svg');
  background-repeat: repeat;
}

.mobile-nav{
  display: none;
}

.navbar-toggler.collapsed,
.navbar-toggler.collapsed:focus,
.navbar-toggler {
  border: none !important;

  outline: none !important;;
  box-shadow: none !important;;  
}

.nav-brand-mobile{
  display: none !important;
}


@media (max-width: 992px) {
  .nav-primary-text {
    margin-left: 0px;
  }
  .nav-primary .active.nav-primary-text.mobile-nav {
    display: block;
  }
}

@media (max-width: 576px) {
  .nav-primary .active.nav-primary-text.mobile-nav{
    background-color: #ffffff;
    box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);

    font-weight: 600;
    font-size: 9px;
    line-height: 15px;
    border-radius: 4px;
    color: #475CA7 !important;
  }


  .nav-primary-text {
    padding: 7px 6px;
  }
}
