.timeline-years {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.timeline-years > li {
  color: #5f6d80;
  margin-top: 29px;
}

.timeline-years > li.active {
  color: #217eeb;
  margin-top: 29px;
}

.timeline-card { 
  height: 455px;
  background-color: yellow;
}

.timeline-card h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 153.4%;
  display: flex;
  align-items: center;

  /* secondary */
  color: #5a6795;
}

.timeline-card .year-col {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50.75px;
  line-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;

  background: linear-gradient(
      180deg,
      rgba(42, 46, 51, 0.74) 0%,
      rgba(42, 46, 51, 0.74) 100%
    ),
    url('https://res.cloudinary.com/dyy8g76av/image/upload/v1611545976/Denizen%20Designer%20%28Temp%29/timelinecardimg1_h2rtun.png'),
    #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px 0px 0px 12px;
  height: 455px;
  /* Gray 5 */

  color: #ffffff;
}

.timeline-card .card-body {
  background-color: #ffffff;
  border-radius: 0px 12px 12px 0px;
  height: 455px;
  padding-top: 44px;
}

.timeline-card .card-body p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 171.4%;
  display: flex;
  align-items: center;

  /* black */
  color: #2a2e33;
}

.timeline-card .card-links > li {
  color: #ffffff;
  list-style: none;
  display: inline;
  margin: 0px 0px 0px 10px;
  align-items: center;
  padding: 6px 18px;
  width: 103px;
  height: 33px;
  background: #5a6795;
  border-radius: 20px;
  cursor: pointer;
}
